[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
djangorestframework = "==3.11.1"
djangorestframework-simplejwt = "*"
djoser = "*"
django-cors-headers = "*"
pillow = "*"

[requires]
python_version = "3.8"
